<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
    Data Framework also provides extra context in the MappedDiagnosticsLayoutContext:
      ${mdlc:ConfigurationFile} - the name of the configuration file that is being executed
      ${mdlc:ExecutionContextId} - unique id for the execution
  -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target xsi:type="Database" name="log-database"
            connectionString="Server=server;User Id=user;Password=password;"
            >
      <install-command>
        <text>
          CREATE TABLE [DataFrameworkLogs].[dbo].[Logs](
          [Id] [int] IDENTITY(1,1) NOT NULL,
          [ExecutionContextId] [nvarchar](38) NULL,
          [CorrelationId] [nvarchar](38) NULL,
          [Timestamp] [datetimeoffset](7) NOT NULL,
          [ProcessName] [nvarchar](MAX) NULL,
          [LogLevel] [char](5) NOT NULL,
          [LogLevelOrdinal] int NOT NULL,
          [Message] [nvarchar](MAX) NOT NULL,
          [Exception] [nvarchar](MAX) NOT NULL
          ) ON [PRIMARY]
        </text>
      </install-command>

      <commandText>
        INSERT INTO [DataFrameworkLogs].[dbo].[Logs] (ExecutionContextId, CorrelationId, Timestamp, ProcessName, LogLevel, LogLevelOrdinal, Message, Exception)
        VALUES (@executionContextId, @correlationId, @timestamp, @processName, @logLevel, @levelOrdinal, @message, @exception)
      </commandText>
      <parameter name="@executionContextId" layout="${mdlc:item=ExecutionContextId}" />
      <parameter name="@correlationId" layout="${event-properties:item=CorrelationId}" />
      <parameter name="@timestamp" layout="${date:universalTime=true}" />
      <parameter name="@processName" layout="${mdlc:item=ProcessName}" />
      <parameter name="@logLevel" layout="${level" />
      <parameter name="@levelOrdinal" layout="${level:format=Ordinal}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>


    <target xsi:type="File" name="log-file"
            fileName="${basedir}/Logs/DataFramework.${cached:${date:format=yyyy-MM-dd HH_mm_ss}}.log"
            archiveFileName="${basedir}/Logs/DataFramework.{#}.log"
            archiveDateFormat="yyyy-MM-dd HH_mm_ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="30">
      <layout xsi:type="CsvLayout" delimiter="Pipe" withHeader="true" quoting="Auto">
        <column layout="${mdlc:item=ExecutionContextId:padding=-32:fixedwidth=true}" name="ExecutionId" />
        <column layout="${mdlc:item=LogCorrelationId}" name="CorrelationId" />
        <column layout="${mdlc:item=ProcessName:padding=-80:fixedwidth=true}" name="Process" />
        <column layout="${longdate}" name="Timestamp" />
        <column layout="${level:uppercase=true:padding=-5}" name="Level" />
        <column layout="${message}${onexception:inner=${newline}${exception:format=ToString,Data:separator=\r\n}}" name="Message" />
      </layout>
    </target>

    <target xsi:type="ColoredConsole" name="console"
              layout="${longdate} | ${level:uppercase=true:padding=-5} | ${mdlc:item=ProcessName} | ${logger}${newline}${message}${exception:format=toString,Data:separator=\r\n}${newline}"
            />

    <target xsi:type="EventLog" name="event-log"
          log="Application"
          source="Data Framework"
          layout="${message}${newline}Execution Context Id: ${mdlc:item=ExecutionContextId}${newline}Process Name: ${mdlc:item=ProcessName}${newline}${exception:format=toString,Data}"
            />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
      <logger name="*" minlevel="Trace" writeTo="log-database" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    -->

    <logger name="*" minlevel="Debug" writeTo="log-file" />
    <logger name="*" minlevel="Error" writeTo="event-log" />
  </rules>
</nlog>
